<div id="content-banner">
  <p>Here is some dummy content</p>
  <p>It runs across two lines!!!</p>
</div>
<div id="sidebar_banner">
  <p>Here is the sidebar thing</p>
  <p>It is in the same file as the banner content for some reason</p>
</div>
